{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{judul}} | myweb</title>
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    </head>
    <body>
        <div class="container">
            {% include "navbar.html" %}
            <div class="row">
                <div class="col-md 6">
                    <h1>Ini Myweb{{href}}</h1>
                </div>
            </div>
        <div class="col-md 6"></div>
            <img style="width:100%" src="{%static 'img/banner_home.png'%}" alt="">
        </div>
    </div>
    </body>
</html>